---
import MainLayout from "@/layouts/MainLayout.astro";
import { CupSelector } from "@/components/cup-selector";
---

<MainLayout>
  <div class="mt-24 container flex items-center flex-col gap-24">
    <CupSelector />
    <p class="text-xl">Select a cup</p>
  </div>
</MainLayout>
