---
import { Header } from "@/components/header";
import "@/index.css";

const [{ sha }] = await fetch(
  "https://api.github.com/repos/nacho-cs/mkwrecords/commits"
).then(res => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MKW Records</title>
  </head>
  <body>
    <Header sha={sha} />
    <slot />
  </body>
</html>

<script is:inline>
const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
if (prefersDark) {
  document.documentElement.classList.add("dark");
}
</script>
